@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-boxs;
          box-sizing: border-boxs;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden !important;
  font-family: 'Alata', sans-serif;
}

#header {
  width: 100%;
  height: 100vh;
  background-image: url("../images/desktop/image-hero.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  overflow-y: hidden;
}

#header #navbar {
  width: 80%;
  height: 150px;
  margin: 0 auto;
}

#header #navbar .mobile-nav {
  display: none;
}

#header #navbar .desktop-nav {
  widows: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header #navbar .desktop-nav .logo-desktop h1 a {
  color: white;
  text-decoration: none;
  font-size: 30px;
}

#header #navbar .desktop-nav .menu-desktop a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

#header #navbar .desktop-nav .menu-desktop a:nth-child(5) {
  margin-right: 0px;
}

#header .content-header {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  margin-top: 50px;
}

#header .content-header .header-card-title {
  width: 55%;
  height: 33vh;
  border: 3px solid white;
  border-radius: 2px;
  padding: 10px 0px 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header .content-header .header-card-title p {
  margin-bottom: 5px;
  font-size: 55px;
  letter-spacing: 8px;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}

.main-container {
  width: 80%;
  margin: 0 auto;
}

.main-container .about-content {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .about-content .about-img {
  width: 50%;
  height: 60%;
}

.main-container .about-content .about-img img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

.main-container .about-content .about-heading-text {
  width: 40%;
  height: 30%;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  margin-left: -300px;
  margin-bottom: -200px;
}

.main-container .about-content .about-heading-text h3 {
  font-size: 3em;
  margin-bottom: 5px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  line-height: 60px;
}

.main-container .about-content .about-heading-text p {
  color: gray;
  font-family: 'Alata', sans-serif;
  font-size: 13px;
  line-height: 25px;
  text-align: justify;
}

.main-container .ourcreation-component {
  width: 100%;
  margin: 0 auto;
}

.main-container .ourcreation-component .ourcreation-title-button {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-container .ourcreation-component .ourcreation-title-button h3 {
  font-size: 2rem;
  font-family: 'Josefin Sans', sans-serif;
}

.main-container .ourcreation-component .ourcreation-title-button button {
  width: 8rem;
  height: 2rem;
  color: #000;
  font-weight: 300;
  font-family: 'Alata', sans-serif;
  border: 1px solid #000;
  background-color: transparent;
  -webkit-transition: all cubic-bezier(0.55, 0.59, 0.79, 0.23) 1s;
  transition: all cubic-bezier(0.55, 0.59, 0.79, 0.23) 1s;
}

.main-container .ourcreation-component .ourcreation-title-button button:hover {
  background-color: #141414;
  color: white;
  cursor: pointer;
  -webkit-transition: all cubic-bezier(0.55, 0.59, 0.79, 0.23) 0.5s;
  transition: all cubic-bezier(0.55, 0.59, 0.79, 0.23) 0.5s;
}

.main-container .btn__see--all--mobile {
  display: none;
}

@media (max-width: 768px) {
  .main-container {
    width: 90%;
  }
  .about-content {
    margin-top: 120px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .about-content .about-img {
    width: 100% !important;
  }
  .about-heading-text {
    width: 90% !important;
    height: 80vh;
    margin: 0px 0px !important;
    padding: 0px !important;
    margin-top: 50px !important;
  }
  .about-heading-text h3 {
    text-align: center;
    font-size: 2em !important;
    line-height: 50px !important;
  }
  .about-heading-text p {
    text-align: center !important;
  }
  .header-card-title {
    width: 75% !important;
    height: 50vh;
    padding: 10px 10px !important;
    border-width: 2px !important;
  }
  .header-card-title p {
    font-size: 3rem !important;
    letter-spacing: 5px !important;
    margin-bottom: 0;
  }
}

@media (max-width: 425px) {
  .btn__see--all--mobile {
    width: 50%;
    height: 20px;
    margin: 0 auto;
    border: 1px solid #1c1c1c;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px;
  }
  .btn__see--all--mobile a {
    color: #1c1c1c;
  }
  .desktop-nav {
    display: none !important;
  }
  .mobile-nav {
    width: 100%;
    height: 100%;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .mobile-nav .logo-mobile h1 a {
    text-decoration: none;
    color: white;
  }
  .mobile-nav .icon-menu-hamburges {
    z-index: 99999999;
  }
  .mobile-nav .icon-menu-hamburges i {
    color: white;
    font-size: 22px;
  }
  .mobile-nav .menu-links {
    width: 100%;
    height: 100vh;
    background-color: #181818;
    position: absolute;
    top: 0;
    left: -100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 2s;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 2s;
  }
  .mobile-nav .menu-links .items-menu {
    width: 90%;
    height: 90vh;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mobile-nav .menu-links a {
    margin-top: 50px;
    color: white;
    text-decoration: none;
  }
  .header-card-title {
    width: 90% !important;
    height: 50vh;
    padding: 10px 10px !important;
    border-width: 2px !important;
  }
  .header-card-title p {
    font-size: 2rem !important;
    letter-spacing: 5px !important;
    margin-bottom: 0;
  }
}

.creations-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

.item-card {
  width: 250px;
  height: 400px;
  color: white;
  position: relative;
  background-position: 50 center;
  background-color: #1c1c1c87;
  background-blend-mode: overlay;
  margin-bottom: 20px;
}

.item-card .card-title {
  position: absolute;
  bottom: 25px;
  left: 20px;
}

@media (max-width: 768px) {
  .item-card {
    width: 200px;
  }
  .creations-container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 425px) {
  .item-card {
    width: 100%;
    height: 200px;
  }
  .ourcreation-button {
    display: none;
  }
  .ourcreation-title-button {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .ourcreation-component {
    margin-top: 100px !important;
  }
}

.bg-item-1 {
  background-image: url(../images/desktop/image-deep-earth.jpg);
  background-size: cover;
}

.bg-item-2 {
  background-image: url(../images/desktop/image-night-arcade.jpg);
  background-size: cover;
}

.bg-item-3 {
  background-image: url(../images/desktop/image-soccer-team.jpg);
  background-size: cover;
}

.bg-item-4 {
  background-image: url(../images/desktop/image-grid.jpg);
  background-size: cover;
}

.bg-item-5 {
  background-image: url(../images/desktop/image-from-above.jpg);
  background-size: cover;
}

.bg-item-6 {
  background-image: url(../images/desktop/image-pocket-borealis.jpg);
  background-size: cover;
}

.bg-item-7 {
  background-image: url(../images/desktop/image-curiosity.jpg);
  background-size: cover;
}

.bg-item-8 {
  background-image: url(../images/desktop/image-fisheye.jpg);
  background-size: cover;
}

.openmenu {
  -webkit-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
  left: 0 !important;
}

#footer {
  width: 100%;
  min-height: 150px;
  margin-top: 100px;
  background-color: #1f1f1f;
  color: white;
}

#footer .footer__container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#footer .footer__container .footer__logo--rrss {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .footer__container .footer__logo--rrss .footer__rrss--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

#footer .footer__container .footer__logo--rrss .footer__rrss--container .footer__rrss--item {
  margin-right: 20px;
}

#footer .footer__container .footer__logo--rrss .footer__rrss--container .footer__rrss--item:nth-child(4) {
  margin-right: 0px !important;
}

#footer .footer__container .footer__logo--rrss .footer__rrss--container .footer__rrss--item i {
  color: white;
  font-size: 22px;
}

#footer .footer__menu--copyright {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .footer__menu--copyright .footer__menu--container a {
  color: white;
  margin-right: 20px;
}

#footer .footer__menu--copyright .footer__menu--container a:nth-child(5) {
  margin-right: 0px !important;
}

@media (max-width: 425px) {
  .footer__logo--rrss {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
  }
  .footer__logo--rrss .footer__rrss--item {
    margin-top: 10px;
  }
  .footer__menu--copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__menu--copyright .footer__menu--container a {
    font-size: 12px;
    margin-right: 10px !important;
  }
  .footer__copyright--container p {
    font-size: 15px !important;
  }
}

@media (max-width: 320px) {
  .footer__copyright--container p {
    font-size: 12px !important;
  }
}
/*# sourceMappingURL=styles.css.map */